---
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

const allPosts = await getCollection('forum');
---

<Layout>
	<h1>Forums</h1>
	<ul>
		{allPosts.map((post) => (
			<li>
				<a href={`/forums/${post.id}`}>{post.data.Topic.Title}</a>
			</li>
		))}
	</ul>
</Layout>
