---
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

const allPosts = await getCollection('forum');

allPosts.sort((a, b) => {
	const dateA = new Date(a.data.Posts[a.data.Posts.length - 1].PostDate).getTime();
	const dateB = new Date(b.data.Posts[b.data.Posts.length - 1].PostDate).getTime();
	return dateB - dateA;
});

---

<Layout>
	<h1>Forums</h1>
	<ul>
		{allPosts.map((post) => (
			<li>
				<a href={`/forums/${post.id}`}>{post.data.Topic.Title}</a>
			</li>
		))}
	</ul>
</Layout>
