---
import Layout from "../layouts/Layout.astro";

---

<Layout title="textadventures.co.uk Archive">
    <h1>textadventures.co.uk Archive</h1>

    <p>This is the archive site for <a href="https://textadventures.co.uk">textadventures.co.uk</a>.</p>

    <p>It currently contains an <a href="/forum/">archive of the old forums</a>.</p>
</Layout>
