---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("forum");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
---

<Layout title={post.data.Topic.Title}>
    <h2>{post.data.Topic.Title}</h2>
    {post.data.Posts.map((post) => <div set:html={post.HTML} />)}    
</Layout>