---
import "bootswatch/dist/cosmo/bootstrap.min.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{Astro.props.title}</title>
		<script>
			import 'bootstrap/dist/js/bootstrap.bundle.min.js'
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>